@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0 auto;
    --fg: "white";
    font-family: "IBM Plex Serif", serif;
    color: var(--fg);
    background: linear-gradient(220.55deg, #b7dcff 0%, #ffa4f6 100%);
}

a {
    color: inherit;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

button {
    /*FIXME*/
    color: black;
}

input {
    outline: none;
}
