.container {
    padding: 0 2rem;
    min-height: 100vh;
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main {
    margin: 0 auto;
    padding: 1rem 0.25rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 0.9;
    height: calc(100% - 56px);
    word-wrap: break-word;
}

@media screen and (min-width: 520px) {
    .center {
        width: 500px;
    }

    .mobileNotifier {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .center {
        max-width: 400px;
    }

    .window {
        display: none;
    }

    .mobileNotifier {
        display: block;
    }
}

.center {
    margin: 0 auto;
    border-radius: 24px;
    padding: 25px;
    background: white;
    box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px,
        rgb(0 0 0 / 1%) 0px 24px 32px;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
